<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet">
<link href="../resources/css/main.less" rel="stylesheet/less" type="text/css">
<script src="//cdn.bootcss.com/less.js/2.7.1/less.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-app="myApp">
<div>
  <h5>基本hello world:</h5>
  {{"Hello" +" "+ "World"}}!
</div>






<hr>
<div ng-controller="myCtrl">
  <h5>双向绑定:</h5>
  Your name: <input type="text" ng-model="name" placeholder="World">
  Hello {{name}}!
</div>
<hr>
<div ng-controller="myCtrl1">
  <h5>作用域:</h5>
  <ul>
    <li ng-repeat="i in name">{{i}} {{lastname}}</li>
  </ul>
  <select ng-model="selectedName" ng-options="i for i in name">
  </select>
</div>
<hr>
<div ng-controller="myCtrl2">
  <h5>控制器:</h5>
	名: <input type="text" ng-model="firstName">姓: <input type="text" ng-model="lastName"><br>
	<br>
	姓名: {{fullName()}}
</div>
<hr>
<div id="myCtrl3" ng-controller="myCtrl3">
  <h5>表达式过滤器:</h5>
  {{lastname | uppercase}}<br>
  {{lastname | lowercase}}<br>
  
  <input type="number" ng-model="quantity">
  <input type="number" ng-model="price">
  <p>总价 = {{ (quantity * price) | currency }}</p>
  
  <h5>指令过滤器:</h5>
  <ul>
    <li ng-repeat="u in user | orderBy:'age'">{{i}} {{u.name + "," + u.age}}</li>
  </ul>
  <br>
  <input type="text" ng-model="test" value="a">
   <ul>
    <li ng-repeat="u in user |filter:test | orderBy:'name'">{{i}} {{u.name + "," + u.age}}</li>
  </ul>
</div>
<script>
var app = angular.module('myApp', []);

app.controller('myCtrl', function($scope,$rootScope) {
  $scope.name = "World";
  $rootScope.lastname = "rootScope";
});

app.controller('myCtrl1', function($scope) {
  $scope.name =  ["a", "b", "c"];
});

app.controller('myCtrl2', function($scope) {
  $scope.firstName = "John";
  $scope.lastName = "Doe";
  $scope.fullName = function() {
      return $scope.firstName + " " + $scope.lastName;
  }
});

app.controller('myCtrl3', function($scope) {
  $scope.user = [{'name':"a", "age": 15},{'name':"b", "age": 18},{'name':"c", "age": 16}];

});
</script>
</body>
</html>