<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>AngularJS实例</title>
<link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="../resources/css/main.less" rel="stylesheet/less" type="text/css">
<script src="//cdn.bootcss.com/less.js/2.7.1/less.min.js"></script>
</head>
<body class="container" ng-app="animationApp" ng-controller="myCtrl">
    <header class="page-header">
      <h1>动漫 <small>{{myUrl}}</small></h1>
    </header>
    <div ng-include="header.html"></div>
    <div class="row">
	  <div class="col-sm-4"></div>
	  <div class="col-sm-4">
	    <select ng-model="sort" class="form-control">
	      <option value="id">名称</option>
	      <option value="pubdate">上映时间</option>
	      <option value="length">片长</option>
	    </select>
	  </div>
	  <div class="col-sm-4">
	    <input ng-model="search" type="text" class="form-control" placeholder="请输入title"/>
	  </div>
	</div>
	<p></p>
	<div ng-view=""></div>
	<ul class="list-group">
	  <li class="list-group-item fade" ng-hide="flag" ng-repeat="animation in animations | filter:search | orderBy:sort">
	    <div class="row">
	      <div class="col-sm-3">
	        <a href="#/{{animation.id}}">
	          <img class="img-responsive img-thunbnail" ng-src="../resources/images/{{animation.img}}" alt="{{animation.title}}">
	        </a>
	      </div>
	      <div class="col-sm-9">
	        <div class="pull-right">
<!-- 	          <label class="label {{animation.readed|getLableReadedFilter}}">{{animation.readed|checkReadedFilter}}</label> -->
	        </div>
	        <blockquote>
	          <h2><a href="#/{{animation.id}}">{{animation.title}}</a></h2>
	          <footer>
	          {{animation.author}}&nbsp;
	                              上映时间：{{animation.pubdate}}&nbsp;
	                              片长：{{animation.length}}分钟                   
	          </footer>
	        </blockquote>
	        <div class="text-right">
	          <a class="btn btn-primary" href="#/{{animation.id}}">详情</a>
	          <a class="btn btn-primary" ng-click="flag=true">隐藏</a>
	        </div>
	      </div>
	    </div>
	  </li>
	</ul>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
<script type="text/javascript">
  var animationApp = angular.module("animationApp",["ngResource","ngRoute"]);
  
  animationApp.controller("myCtrl",function($scope, $location, $http){
    $scope.myUrl = $location.absUrl();
    $http.get("../resources/data/animation.json").success(function(resp){
      $scope.animations = resp.animations;
    });
    $scope.sort = "id";
  });
  
  
//   var animationApp = angular.module("animationApp",["ngResource"]);
//   //自定义服务
//   animationApp.factory("animateService",function($resource){
//     return $resource("../resources/data/animation.json");
//   });
  
//   animationApp.controller("myCtrl",function($scope, animateService){
//     $scope.animations = animateService.get();
//     $scope.sort = "id";
//   });

    animationApp.config(function($routeProvider){
        $routeProvider
        .when('/',{
          templateUrl: "service.html"
        })
        .when('/helloworld',{
          templateUrl: "helloworld.html"
        })
        .otherwise({redirectTo:'/'});
    });
    
</script>
</body>
</html>